In [1]:
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt

from pandas.plotting import register_matplotlib_converters
from pylab import rcParams
sns.set_style("darkgrid")

# import lux

import warnings
warnings.filterwarnings("ignore")

# Set it None to display all rows in the dataframe
pd.set_option('display.max_rows', 200)

# Set it to None to display all columns in the dataframe
# pd.set_option('display.max_columns', None)

from requests import request
import json
from pandas.io.json import json_normalize

from pandas import json_normalize

In [2]:
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_colwidth', 500)
pd.set_option('display.max_info_columns', 500)
pd.set_option('display.max_info_rows', 2000)
pd.set_option('display.expand_frame_repr', True)
pd.set_option('display.width', 2000)

In [3]:
df = pd.read_csv("market_table.csv")

In [6]:
df.head(3).T

                                           0                1                               2
Ord_id                                     1                2                               2
Prod_id                                    1                2                               3
Ship_id                                    1                2                               3
Cust_id                                    1                2                               2
Sales                                  26154          1012302                           24457
Discount                                0.04             0.07                            0.01
Order_Quantity                             6               49                              27
Product_Base_Margin                     0.08             0.58                            0.39
Customer_Name             MUHAMMED MACINTYRE     BARRY FRENCH                    BARRY FRENCH
Province                             NUNAVUT          NUNAVUT                         NUNAVUT
Region                               NUNAVUT          NUNAVUT                         NUNAVUT
Customer_Segment              SMALL BUSINESS         CONSUMER                        CONSUMER
Order_Date                        2010-10-13       2012-10-01                      2012-10-01
Order_Priority                           LOW             HIGH                            HIGH
Product_Category             OFFICE SUPPLIES  OFFICE SUPPLIES                 OFFICE SUPPLIES
Product_Sub_Category  STORAGE & ORGANIZATION       APPLIANCES  BINDERS AND BINDER ACCESSORIES
Order_ID                                   3              293                             293
Ship_Mode                        REGULAR AIR   DELIVERY TRUCK                     REGULAR AIR
Ship_Date                         2010-10-20       2012-10-02                      2012-10-03

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8399 entries, 0 to 8398
Data columns (total 19 columns):
 #   Column                Dtype
---  ------                -----
 0   Ord_id                int64
 1   Prod_id               int64
 2   Ship_id               int64
 3   Cust_id               int64
 4   Sales                 int64
 5   Discount              float64
 6   Order_Quantity        int64
 7   Product_Base_Margin   float64
 8   Customer_Name         object
 9   Province              object
 10  Region                object
 11  Customer_Segment      object
 12  Order_Date            object
 13  Order_Priority        object
 14  Product_Category      object
 15  Product_Sub_Category  object
 16  Order_ID              int64
 17  Ship_Mode             object
 18  Ship_Date             object
dtypes: float64(2), int64(7), object(10)
memory usage: 1.2+ MB

In [10]:
df.isnull().any()

Ord_id                  False
Prod_id                 False
Ship_id                 False
Cust_id                 False
Sales                   False
Discount                False
Order_Quantity          False
Product_Base_Margin      True
Customer_Name           False
Province                False
Region                  False
Customer_Segment        False
Order_Date              False
Order_Priority          False
Product_Category        False
Product_Sub_Category    False
Order_ID                False
Ship_Mode               False
Ship_Date               False
dtype: bool

In [12]:
df["Product_Base_Margin"].value_counts(dropna=False)

0.37    761
0.38    678
0.36    628
0.59    497
0.39    482
0.57    459
0.56    459
0.04    408
0.58    387
0.55    314
0.06    296
0.35    262
0.52    150
0.74    108
0.43    101
0.65    100
0.41     98
0.49     95
0.44     94
0.64     91
0.78     89
0.75     85
0.83     83
0.66     81
0.54     81
0.46     78
0.62     78
0.42     78
0.69     77
0.48     75
0.81     73
0.61     73
0.05     73
0.77     68
0.79     68
0.68     66
0.51     66
NaN      63
0.71     57
0.76     55
0.45     54
0.73     51
0.08     48
0.47     46
0.67     41
0.72     37
0.85     36
0.63     36
0.07     32
0.82     32
0.53     26
0.84     25
Name: Product_Base_Margin, dtype: int64

# Find the top 3 customers who have the maximum count of orders.

In [14]:
df.columns

Index(['Ord_id', 'Prod_id', 'Ship_id', 'Cust_id', 'Sales', 'Discount', 'Order_Quantity', 'Product_Base_Margin', 'Customer_Name', 'Province', 'Region', 'Customer_Segment', 'Order_Date', 'Order_Priority', 'Product_Category', 'Product_Sub_Category', 'Order_ID', 'Ship_Mode', 'Ship_Date'], dtype='object')

In [23]:
df.groupby("Cust_id")["Order_Quantity"].sum().sort_values(ascending=False).head(3)

Cust_id
1140    713
572     586
1329    574
Name: Order_Quantity, dtype: int64

In [31]:
df.iloc[[1140, 572, 1329]]

      Ord_id  Prod_id  Ship_id  Cust_id     Sales  Discount  Order_Quantity  Product_Base_Margin       Customer_Name              Province    Region Customer_Segment  Order_Date Order_Priority Product_Category Product_Sub_Category  Order_ID    Ship_Mode   Ship_Date
1140     772        6     1059      239      2473      0.04               3                 0.37        KHLOE MILLER      BRITISH COLUMBIA      WEST      HOME OFFICE  2009-10-18            LOW  OFFICE SUPPLIES                PAPER     26342  REGULAR AIR  2009-10-25
572      414        5      557      140  14042021      0.01               1                 0.55  CHRISTOPHER SCHILD  PRINCE EDWARD ISLAND  ATLANTIC        CORPORATE  2010-08-30           HIGH        FURNITURE   OFFICE FURNISHINGS     30372  REGULAR AIR  2010-09-01
1329     850       17     1172      286     55144      0.00              36                 0.39           LIZ PRICE           NOVA SCOTIA  ATLANTIC        CORPORATE  2009-03-23  NOT SPECIFIED       TECHNOLOGY      OFFICE MACHINES     50338  REGULAR AIR  2009-03-25

In [34]:
a = list(df.groupby("Cust_id")["Order_Quantity"].sum().sort_values(ascending=False).head(3).index)
a

[1140, 572, 1329]

In [35]:
df.iloc[a]

      Ord_id  Prod_id  Ship_id  Cust_id     Sales  Discount  Order_Quantity  Product_Base_Margin       Customer_Name              Province    Region Customer_Segment  Order_Date Order_Priority Product_Category Product_Sub_Category  Order_ID    Ship_Mode   Ship_Date
1140     772        6     1059      239      2473      0.04               3                 0.37        KHLOE MILLER      BRITISH COLUMBIA      WEST      HOME OFFICE  2009-10-18            LOW  OFFICE SUPPLIES                PAPER     26342  REGULAR AIR  2009-10-25
572      414        5      557      140  14042021      0.01               1                 0.55  CHRISTOPHER SCHILD  PRINCE EDWARD ISLAND  ATLANTIC        CORPORATE  2010-08-30           HIGH        FURNITURE   OFFICE FURNISHINGS     30372  REGULAR AIR  2010-09-01
1329     850       17     1172      286     55144      0.00              36                 0.39           LIZ PRICE           NOVA SCOTIA  ATLANTIC        CORPORATE  2009-03-23  NOT SPECIFIED       TECHNOLOGY      OFFICE MACHINES     50338  REGULAR AIR  2009-03-25